@font-face {
  font-family: "Roobert PRO";
  src:
    local("RoobertPRO-Medium"),
    url("RoobertPRO-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
